* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* FONTS */
    --fs-sm: 0.75rem;
    --fs-rg: 1rem;
    --fs-md: 1.25rem;
    --fs-lg: 1.5rem;
    --fs-xlg: 2rem;

    /* COLOURS */
    --text: hsl(210, 32%, 93%);
    --muted: hsl(216, 8%, 53%);
    --muted-dark: hsl(216, 8%, 20%);
    --muted-darker: hsl(216, 8%, 15%);
    --bkg: hsl(216, 28%, 7%);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bkg);
    font-size: var(--fs-rg);
    color: var(--text);
}

a, 
a:visited {
    text-decoration: none;
    color: var(--muted);
}

a:hover {
    color: var(--muted-dark);
}

a:active {
    color: var(--muted-darker);
}

main {
    padding: 1em;
}

section {
    padding: 0.3em 0;
}

.container {
    display: flex;
    gap: 20px;
    flex-wrap:wrap;
}

h2.emoji-man-technologist::after {
    content: "👨‍💻";
    margin-left: 0.2em;
}

ul.languages {
    display: flex;
    padding: 0.6em 0;
    flex-wrap: wrap;
    list-style: none;
    color: var(--muted);
    gap: 2em;
}

table {
    border-collapse: collapse;
}

caption, 
th, 
td {
    padding: 0.6em;
    border: 0.06em solid black;
}

caption {
    font-weight: bold;
    background-color: var(--muted-dark);
}

thead {
    background-color: var(--muted-dark);
}

tbody tr:nth-child(odd) {
    background-color: var(--muted-darker);
}

tbody tr:nth-child(even) {
    background-color: var(--muted-dark);					
}

th[scope="row"] {
    text-align: left;
}

fieldset {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    border: 0;
    gap: 10px;
}

legend {
    display: none;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    padding: 8px;
    font-family: Arial, sans-serif;
    background-color: var(--muted-dark);
    font-size: var(--fs-rg);
    color: var(--text);
    caret-color: var(--text);
    border: 1px solid var(--muted-darker);
    border-radius: 5px;
}

textarea {
    min-height: 100px;
    resize: vertical;
}

button {
    padding: 10px 20px;
    align-self: flex-start;
    background-color: var(--text);
    font-size: var(--fs-rg);
    font-weight: bold;
    color: var(--muted-dark);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.1s ease;
}

button:hover {
    background-color: var(--muted-dark);
    color: var(--text);
}

button:active {
    background-color: var(--muted-darker);
    transform: scale(0.9);
    }

i {
    margin-left: 0.4em;
}

.socials {
    font-size: var(--fs-lg);
    color: var(--text);
}

.socials a, 
.socials a:visited {
    text-decoration: none;
    color: var(--text);
}

.socials a:hover {
    color: var(--muted);
}

.socials a:active {
    color: var(--muted-dark);
}

.legal {
    color: var(--muted);
}